/* sådant som ingår */
body {
  /* margin
  https://www.w3schools.com/css/css_margin.asp
  */
  display: flex;
  justify-content: center;
  /* padding
  https://www.w3schools.com/css/css_padding.asp
  */
  padding: 10px;
}

/* Egendifinierade klasser */
.bigcontainer {
  background-color: red;
  border-width: 3px;
  /* solid, heldragen linje */
  border-style: solid;
  /*
  HTML color
  https://www.w3schools.com/html/html_colors.asp
  */
  border-color: #ffff00;
  /*height: 30px;*/
  display: flex;
  flex-direction: column;
  /* I huvudriktningen (main axis) */
  justify-content: flex-start;
  /* motsvarigheten för 90 gr axeln */
  /* align-items */
}

.rubrik {
  background-color: white;
  border-width: 3px;
  display: flex;
  justify-content: center;
}

.container {
  background-color: black;
  border-width: 3px;
  /* solid, heldragen linje */
  border-style: solid;
  /*
  HTML color
  https://www.w3schools.com/html/html_colors.asp
  */
  border-color: #ffff00;
  /*height: 30px;*/
  display: flex;
  flex-direction: row;
  /* I huvudriktningen (main axis) */
  justify-content: flex-start;
  /* motsvarigheten för 90 gr axeln */
  /* align-items */
}

.right {
  /*  width: 200px;  */
  /*  height: 200px;  */
  background-color: green;
  border-width: 3px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
}

.left {
  /*  width: 200px; */
  /*  height: 200px; */
  background-color: #667788;
  border-width: 3px;
  border-style: solid;
  flex-shrink: 4;
  /*  flex-basis: 25%; */
  padding-left: 5px;
  padding-right: 5px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dottcontainer {
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

/* ett span element har ingen
höjd eller bredd. Följer bara med i flödet
*/
.fontcolor {
  /* textfärgen */
  color: red;
}